@media only screen and (min-width: 600px) {
  #Sun_1_ {
    width: 180px;
    left: 30px;
    top: 5%;
  }

  #longText {
    width: 50%;
    bottom: -150px;
  }

  #Cloud_left_1_ {
    top: 25%;
    width: 90%;
    left: -80px;
  }

  #Cloud_right_1_ {
    top: 30%;
    width: 90%;
    right: -60px;
  }

  #Ground {
    height: 20%;
  }

  #Tent {
    bottom: 17%;
  }

  #Tent,
  #Shadow {
    height: 20%;
    width: 70%;
    right: -20px;
  }

  #Shadow {
    bottom: 0;
  }

  #Sign-name {
    height: 20%;
    right: 100px;
  }

  #Tree1_1_ {
    height: 250px;
    bottom: 15%;
    left: -40px;
  }
  #Tree2_1_ {
    height: 250px;
    bottom: 15%;
    left: 0px;
  }
  #Tree3_1_ {
    height: 270px;
    left: 80px;
    bottom: 15%;
  }

  #Tree4_1_ {
    bottom: 17%;
    right: 40px;
    height: 310px;
  }

  #Tree5_1_ {
    bottom: 17%;
    right: -50px;
    height: 280px;
  }

  #Tree-green1_1_ {
    height: 450px;
    left: -30px;
    bottom: 5%;
  }

  #Tree-green2_1_ {
    bottom: 18%;
    height: 420px;
    right: -60px;
  }

  .contactForm {
    width: calc(100% - 20px);
    margin: 0 10px;
    bottom: 100px;
    height: 50%;
  }

  .entries {
    height: 40px;
    font-size: 15px;
  }
  input.entries:first-of-type {
    margin-top: 40px;
  }
  textarea.entries {
    font-size: 15px;
  }
  #what {
    top: 10%;
  }
  #with {
    top: 25%;
  }
  #when {
    top: 28%;
  }
}

@media screen and (min-width: 768px) {
  #Sun_1_ {
    width: 180px;
    left: 30px;
    top: 5%;
  }

  #Cloud_left_1_ {
    top: 25%;
    width: 80%;
    left: -80px;
  }

  #Cloud_right_1_ {
    top: 30%;
    width: 80%;
    right: -60px;
  }

  #Ground {
    height: 20%;
  }

  #Tent {
    bottom: 17%;
  }

  #Tent,
  #Shadow {
    height: 20%;
    width: 40%;
    max-width: 410px;
    right: -20px;
  }

  #Sign-name {
    height: 20%;
    right: 200px;
  }

  #Tree1_1_ {
    height: 250px;
    bottom: 15%;
    left: -40px;
  }
  #Tree2_1_ {
    height: 250px;
    bottom: 15%;
    left: 0px;
  }
  #Tree3_1_ {
    height: 270px;
    left: 80px;
    bottom: 15%;
  }

  #Tree4_1_ {
    bottom: 17%;
    right: 40px;
    height: 310px;
  }

  #Tree5_1_ {
    bottom: 17%;
    right: -50px;
    height: 280px;
  }

  #Tree-green1_1_ {
    height: 450px;
    left: -30px;
    bottom: 5%;
  }

  #Tree-green2_1_ {
    bottom: 18%;
    height: 420px;
    right: -60px;
  }

  #longText {
    width: 40%;
    bottom: -250px;
  }

  #what {
    width: 40%;
    top: 17%;
  }
  #with {
    width: 40%;
    top: 27%;
  }
  #when {
    width: 40%;
    top: 30%;
  }

  .contactForm {
    width: calc(100% - 50px);
    margin: 0 25px;
    bottom: 100px;
    height: 30%;
  }

  .entries {
    height: 40px;

    font-size: 20px;
  }
  input.entries:first-of-type {
    margin-top: 40px;
  }
  textarea.entries {
    font-size: 20px;
  }
}

@media only screen and (min-width: 992px) {
  #Tent,
  #Shadow {
    width: 40%;
  }

  #Cloud_left_1_,
  #Cloud_right_1_ {
    width: 70%;
  }

  #what {
    width: 30%;
    top: 20%;
  }
  #with {
    width: 30%;
    top: 29%;
  }
  #when {
    width: 20%;
    top: 34%;
  }
  #longText {
    bottom: -280px;
  }
  .contactForm {
    width: calc(100% - 200px);
    margin: 0 100px;
  }
  #Sign-name{
    right: 200px;
  }

}

@media only screen and (min-width: 1200px) {
  #Tent,
  #Shadow {
    width: 35%;
  }

  #Cloud_left_1_,
  #Cloud_right_1_ {
    width: 40%;
  }
  #Cloud_left_1_ {
    left: 50%;
    transform: translateX(-70%);
  }
  #Cloud_right_1_ {
    right: 50%;
    transform: translateX(70%);
  }

  #what {
    width: 35%;
    top: 14%;
  }
  #with {
    width: 20%;
    top: 28%;
  }
  #when {
    width: 20%;
    top: 30%;
  }

  .contactForm {
    width: 600px;
  }

  #longText {
    width: 20%;
    bottom: -250px;
  }
  #Sign-name{
    right: 200px;
  }
}

@media only screen and (min-width: 1700px) {
  #what {
    width: 20%;
    top: 15%;
  }
  #with {
    width: 16%;
    top: 28%;
  }
  #when {
    width: 18%;
    top: 30%;
  }
  #longText {
    width: 15%;
    bottom: -200px;
  }
  #Sign-name{
    right: 200px;
  }
}

