@import url("https://fonts.googleapis.com/css2?family=Nixie+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");

:root {
  --overLay: #000;
  --headline: "Abel";
  --text: "Nixie One";
  --textRegular: "NixieOne-Regular";
}

* {
  margin: 0;
  box-sizing: border-box;
  /* // font-family: 'Nixie One'; */
}

.sign-cls-1{fill:#764600;}
.sign-cls-2{fill:#4c3600;}
.sign-cls-3{font-size:14px;fill:#fff;font-family:NixieOne-Regular, Nixie One;}
.sign-cls-4{letter-spacing:-0.03em;}

.contactForm {
  width: calc(100% - 200px);
  height: 35%;
  margin: 0 100px;
  position: fixed;
  bottom: 16%;
  z-index: 2;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
  /* // backdrop-filter: blur(10px); */
  opacity: 0;
}
.entries {
  display: flex;
  align-items: center;
  height: 80px;
  width: calc(100% - 100px);
  margin: 25px 50px;
  font-weight: bold;
  font-family: var(--headline);
  padding-left: 20px;
  border-radius: 35px;
  font-size: 40px;
  color: #000;
  border: 0;
  box-shadow: 5px 10px 18px #888888;
}

textarea.entries {
  display: flex;
  align-items: center;
  height: 180px;
  width: calc(100% - 100px);
  margin: 15px 50px;
  font-weight: bold;
  font-family: var(--headline);
  padding-left: 20px;
  border-radius: 35px;
  font-size: 40px;
  color: #000;
  border: 0;
}

input.entries:first-of-type {
  margin-top: 100px;
}

input[type="submit"] {
  border-radius: 15px;
  color: #000;
  font-weight: bold;
  height: 80px;
  font-size: 40px;
  font-family: var(--headline);
  padding: 10px 40px;
  margin-top: 20px;
  vertical-align: middle;
  border: 0;
  box-shadow: 5px 10px 18px #888888;
}

.page {
  height: 1000vh;
  position: relative;
}
.image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image svg text {
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 0;
}


.blackImageCover {
  background-color: var(--overLay);
  position: fixed;
  opacity: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-5px, -5px);
}

.hamburger-menu {
  position: fixed;
  top: 80px;
  right: 80px;
  margin: 10px;
  cursor: pointer;
  z-index: 2;
}

.line {
  width: 60px;
  height: 8px;
  margin: 10px;
  background-color: #fff;
}

.downArrow image {
  fill: white;
}
.downArrow {
  position: fixed;
  bottom: 100px;
  left: calc(50% - 50px);
  fill: white;
  z-index: 2;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

img.logo {
  z-index: 2;
  position: fixed;
  bottom: 10px;
  right: 10px;
  margin: 10px;
  width: 20%;
  max-width: 150px;
}

.cloudText{
	opacity: 0;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

#Sun_1_{
  position: absolute;
  top: 100px;
  left: 100px;
  

}

#Cloud_left_1_{
  position: absolute;
}

#Cloud_right_1_{
  position: absolute;  
}

#Tree1_1_{
  position: absolute;
}

#tree2_1_{
  position: absolute; 
}

#tree3_1_{
  position: absolute;
  
}

#Tree4_1_{
  position: absolute; 
 
}

#Tree5_1_{
  position: absolute;

}

#Tree-green1_1_{
  position: absolute; 


}

#Tree-green2_1_{
  position: absolute;
}

#Tent_2_{
  position: absolute; 
 
}

#Shadow{
  position: absolute; 
  bottom: 0px; 

  
}

#Ground{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#Sign-name{
  position: absolute; 
  bottom: 0px; 
  right: 0px;
}

#what{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
}

#with{
  position: absolute;
  top: 27%;
  left: 50%;
  transform: translateX(-43%);
  width: 50%;
}

#when{
  position: absolute;
  top: 31%;
  left: 50%;
  transform: translateX(-45%);
  width: 50%;
}

#longText{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -100px;
  width: 20%;
}

@media only screen and (min-width: 600px){
  #Sun_1_ {
	  width: 320px;
    left: 30px;
    top: 5%;
	}

  #longText{
    width: 50%;
  }

  #Cloud_left_1_{
    top: 25%;
    width: 90%;
    left: -80px;
  }

  #Cloud_right_1_{
    top: 30%;
    width: 90%;
    right: -60px;
  }
  
  #Ground{
    height: 20%;
  }

  #Tent_2_{
     bottom: 17%;  
  }

  #Tent_2_, #Shadow{
    height: 20%; 
    width: 100%;   
    right: -20px;
  }

  #Sign-name{
    height: 20%;
  }

  #Tree1_1_{
    height: 250px;
    bottom: 15%;
    left: -40px;
  }
  #Tree2_1_{
    height: 250px;
    bottom: 15%;
    left: 0px;

  }
  #Tree3_1_{
    height: 270px;
    left: 80px;
    bottom: 15%;
  }

  #Tree4_1_{
    bottom: 17%; 
    right: 40px; 
    height: 310px;
  }

  #Tree5_1_{
    bottom: 17%;
    right: -50px;
    height: 280px;
  }


  #Tree-green1_1_{
    height: 450px;
    left: -30px;
    bottom: 5%;
  }
  
  #Tree-green2_1_{
    bottom: 18%;
    height: 420px;
    right: -60px;
  }

  .contactForm{
    width: 100%;
    margin: 0 20px;
    bottom: 100px;
    height: 50%;
  }
}

@media screen and (max-width: 900px) {
	#Sun_1_ {
	  width: 160px;
    left: 30px;
    top: 5%;
	}

  #Cloud_left_1_{
    top: 25%;
    width: 80%;
    left: -80px;
  }

  #Cloud_right_1_{
    top: 30%;
    width: 80%;
    right: -60px;
  }
  
  #Ground{
    height: 20%;
  }

  #Tent_2_{
     bottom: 17%;  
  }

  #Tent_2_, #Shadow{
    height: 20%; 
    width: 70%;   
    right: -20px;
  }

  #Sign-name{
    height: 20%;
  }

  #Tree1_1_{
    height: 250px;
    bottom: 15%;
    left: -40px;
  }
  #Tree2_1_{
    height: 250px;
    bottom: 15%;
    left: 0px;

  }
  #Tree3_1_{
    height: 270px;
    left: 80px;
    bottom: 15%;
  }

  #Tree4_1_{
    bottom: 17%; 
    right: 40px; 
    height: 310px;
  }

  #Tree5_1_{
    bottom: 17%;
    right: -50px;
    height: 280px;
  }


  #Tree-green1_1_{
    height: 450px;
    left: -30px;
    bottom: 5%;
  }
  
  #Tree-green2_1_{
    bottom: 18%;
    height: 420px;
    right: -60px;
  }

  #longText{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -100px;
    width: 40%;
  }
  
  #what{
    width: 40%;
    top: 15%;
  }
  #with{
    width: 40%;
    top: 25%;
  }
  #when{
    width: 40%;
    top: 30%;
  }
  
  .contactForm{
    width: 100%;
    margin: 0 20px;
    bottom: 100px;
    height: 50%;
  }

  .entries{
    height: 40px;
    /* width: calc(100% - 20px);A */
    font-size: 20px;
  }
  input.entries:first-of-type{
    margin-top: 40px;
  }
  textarea.entries{
    font-size: 20px;
  }
}
@media only screen and (min-width: 900px) {
  #Tent_2_, #Shadow{
    width: 40%;
  }

}
@media only screen and (min-width: 1200px) {
  #Tent_2_, #Shadow{
    width: 20%;
  }

  #Cloud_left_1_, #Cloud_right_1_{
    width: 40%;
  }
  #Cloud_left_1_{
    left: 50%;
    transform: translateX(-70%);
  }
  #Cloud_right_1_{
    right: 50%;
    transform: translateX(70%);
  }

  #what{
    width: 20%;
    top: 20%;
  }
  #with{
    width: 20%;
    top: 30%;
  }
  #when{
    width: 20%;
    top: 35%;
  }
}